h1{
    color:rgb(200, 224, 244);
    font-size: 54px;
    font-family: 'Times New Roman', Times, serif
    line-height: 90%;
}

.title{
     text-align: left;
     margin-left: 10%;
      line-height: 500%;
      margin-bottom: 0%;
}

body{
    background-color: rgb(0, 0, 0);
}

h2{
    color: blanchedalmond;
    font-size: 16px;
    margin-left: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.images{
    display: flex;
    justify-content: space-between;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
